[submodule "vendor/plugins/userstamp"]
	path = vendor/plugins/userstamp
	url = git://github.com/delynn/userstamp.git
[submodule "vendor/plugins/jrails"]
	path = vendor/plugins/jrails
	url = git://github.com/aaronchi/jrails.git
[submodule "vendor/plugins/resource_controller"]
	path = vendor/plugins/resource_controller
	url = git://github.com/giraffesoft/resource_controller.git
[submodule "vendor/plugins/paperclip"]
	path = vendor/plugins/paperclip
	url = git://github.com/thoughtbot/paperclip.git
[submodule "vendor/plugins/cross_site_sniper"]
	path = vendor/plugins/cross_site_sniper
	url = git://github.com/wwidea/cross_site_sniper.git
[submodule "vendor/plugins/declarative_authorization"]
	path = vendor/plugins/declarative_authorization
	url = git://github.com/stffn/declarative_authorization.git
[submodule "vendor/plugins/wested_cap"]
	path = vendor/plugins/wested_cap
	url = git@github.com:wested/wested_cap.git
