[submodule "vendor/plugins/wested_cap"]
	path = vendor/plugins/wested_cap
	url = git@github.com:wested/wested_cap.git
[submodule "vendor/plugins/annotate_models"]
	path = vendor/plugins/annotate_models
	url = git@github.com:wested/annotate_models.git
[submodule "vendor/plugins/userstamp"]
	path = vendor/plugins/userstamp
	url = git@github.com:wested/userstamp.git
[submodule "vendor/plugins/cross_site_sniper"]
	path = vendor/plugins/cross_site_sniper
	url = git@github.com:wested/cross_site_sniper.git
[submodule "vendor/plugins/jrails"]
	path = vendor/plugins/jrails
	url = git@github.com:wested/jrails.git
