<%= f.error_messages %>
<div class="left-col">
<%= render :partial => "child",   :locals => {:f => f}  %>
</div>

<div class="right-col">
<%= render :partial => "guardian", :locals => {:f => f} %>
</div>
