<% title "Editing Family Record", :body => true %>

<% semantic_form_for @family, :url => object_url do |f| %>
  <%= render 'form', :f => f %>
  <div class="button-col">
    <% f.buttons do %>
     <%= f.commit_button 'Submit' %>
    <% end %>
  </div>
<% end %>