<% title 'Add Family Member', :body => true %>

<% semantic_form_for @family, :url => collection_url, :html => {:multipart => true} do |f| %>
  <%= render 'form', :f => f %>
  <div class="button-col">
    <% f.buttons do %>
     <%= f.commit_button 'Submit' %>
    <% end %>
  </div>
<% end %>