/*

Forms.css

WestEd Interactive
Created and maintained by: Dave Augustine (daugust@wested.org)
Last updated: 12/8/08

CHANGELOG:
	20081208- 	Removed SF PFA Specific classes
				Removed extraneous classes 
				Added list element specificiers to common elements

-------------------------------------------------------------------- */

/* FORMS / GENERAL
-------------------------------------------------------------------- */

form.wei fieldset { margin:0 0 20px 0; }

form.wei fieldset legend { 	font-size: 1em;font-weight: bold; }

form.wei label { display:block;float:left;clear:left;width:250px;margin:7px 5px 5px 0;text-align:right; font-weight:normal;}
form.wei.smallLabels label,
form.wei ul.smallLabels label{ width:125px; }
form.wei.autoWidth label,
form.wei .autoWidth label{width:auto;}
form.wei li.alignLabelCheckbox label {margin-top:3px;}

form.wei ul li input,
form.wei ul li select,
form.wei ul li textarea { margin:5px 0 0 0;width:300px;float:left; }

form.wei ul li select {width:auto;}
form.wei ul li textarea { height:100px; }
 .ie6 form.wei ul li input,
 .ie6 form.wei ul li select,
 .ie6 form.wei ul li textarea { margin-bottom:5px; }
 
form.wei ul li input,
form.wei ul li textarea { border:1px solid #666; }
 .ie7 form.wei ul li input[type="radio"] { border:none; }
 .ie7 form.wei ul li input[type="checkbox"] { border:none; }

form.wei ul li textarea { overflow:auto; }

/* FORMS / UNIQUE ELEMENTS
----------------------------*/

/* single checkbox*/
input.checkbox {width:auto !important;} /* FF2 needs this */
.ie form.wei li.checkbox input,
.ie form.wei li input.checkbox {border:none; width:auto;}

/* Lists of checkboxes */
form.wei fieldset.checkboxes { clear:both; }
form.wei fieldset.checkboxes label { text-align:left; width:auto; }

form.wei fieldset.checkboxes ul.left {width:auto; padding-right:15px;}
form.wei fieldset.checkboxes ul.right {width:auto;}
form.wei fieldset.checkboxes ul.col.two li {padding-left:0 !important;}

form.wei fieldset.checkboxes input { width:auto;margin:0 5px 0 0; }
 .ie6 form.wei fieldset.checkboxes input { margin:0;width:auto; }
 .ie6 form.wei fieldset.checkboxes label input { border:none; }

/* Nested Lists of Checkboxes */
form.wei fieldset.checkboxes.tree ul {margin-left:10px; margin-top:10px;}
form.wei fieldset.checkboxes.tree ul ul {margin-left:15px; margin-top:0;}
form.wei fieldset.checkboxes.tree ul ul ul {margin-left:30px;}
form.wei fieldset.checkboxes.tree label {margin-top:0px;}
form.wei fieldset.checkboxes.tree input {margin-right:5px;}

/* Radio button yes/no */
form.wei fieldset.radio { margin:5px 0 0 0;float:left;min-width:150px; }
form.wei fieldset.radio input { float:left;width:auto;margin:0 5px 0 5px; }
form.wei fieldset.radio label { width:auto;margin:3px 5px 0 0;clear:none; }
 .ie6 form.wei fieldset.radio label { margin:0;padding:0; }
 .ie6 form.wei fieldset.radio label input { margin:0;padding:0;border:none; }

/* hidden labels still get spoken */
form.wei fieldset.nolabels label { display:none; }

/* align legends to label width */
form.wei fieldset.alignLegend legend {padding-left:180px;}
form.wei ul.smallLabels fieldset.alignLegend legend,
form.wei.smallLabels fieldset.alignLegend legend {padding: 0 0 0 135px; }

/* FORMS / LIST 
----------------------------*/
form.wei ul { list-style-type:none;width:100%; margin:0 0 10px 0;}

form.wei ul li {background-image:none !important;}
form.wei ul ul { margin-bottom:0; }

form.wei ul.col { float:left; }
form.wei ul.col.two { width:49%; }
form.wei ul.col.left { clear:both; }
form.wei ul.col.three { width:30%; }
form.wei ul.col.tight { width:auto; padding-right:10px};
form.wei ul.col.clean { margin:0 !important;padding:0; }

form.wei ul.row { clear:left; }
form.wei ul.row li { float:left;margin-right:10px; }

/* self-clear every list element */
form.wei ul li:after { content:".";display:block;height:0;clear:both;visibility:hidden; }
.ie7 form.wei ul li { min-height:1px; }
.ie6 form.wei ul li { height:1%; }

/* FORMS / LABEL ABOVE
----------------------------*/
form.wei fieldset.labelabove legend,
form.wei.labelabove fieldset legend {padding:0;}

form.wei fieldset.labelabove label,
form.wei.labelabove label { float:left;width:auto;text-align:left;margin:0 0 3px 0; }

form.wei fieldset.labelabove input,
form.wei fieldset.labelabove textarea,
form.wei fieldset.labelabove select,
form.wei.labelabove input,
form.wei.labelabove textarea,
form.wei.labelabove select { margin:0 0 10px 0;float:left;clear:left; }

/* FORMS / COMMON ELEMENTS
----------------------------*/
form.wei li.bold label,
form.wei li label.bold {font-weight:bold;}

form.wei li.zip input,
form.wei input.zip { width:40px; }

form.wei li.phone input,
form.wei input.phone { width:150px; }

form.wei li.ext input,
form.wei input.ext { width:100px; }

form.wei li.date input,
form.wei input.date,
form.wei table input.date { width:70px; }

form.wei input.spaces,
form.wei li.spaces input { width:30px; }

form.wei li.state select,
form.wei select.state { width:50px; }

form.wei li.yearrange select,
form.wei select.yearrange { width:80px; }

form.wei li.time input,
form.wei input.time {width: 60px;}

form.wei li.time select,
form.wei select.time { width:100px; }

form.wei li.time select + select,
form.wei select.time + select.time { width:100px;clear:none; }
	.ie7 form.wei li.time select + select,
	.ie7 form.wei select.time + select.time { clear:both; }


/* FORMS / BUTTONS
----------------------------*/

form.wei div.btn {padding-top:1em;float:left; margin-right:1em;}
form.wei div.btn input.bold {font-weight:bold;}
div.btn + div.btn {border-top:none;}
div.btnContainer {border-top:2px solid #DCE6EC; padding:0; margin:0;}

/* FORMS / TABLES 
----------------------------*/
form.wei table tr { width:400px; }
form.wei table tr td { width:auto; }
form.wei table tr td input { width:200px; }

/* FORMS / ERRORS & WARNINGS & DESCRIPTIONS
----------------------------*/

/* General message attributes */
form.wei li.message span { color:#555;display:block;width:200px; float:left;margin:7px 0 0 0; }
 .ie6 form.wei li.message span { padding-left:2px !important; }

/* needed for having message above input */
form.wei li.message input,
form.wei li.message select,
form.wei li.message textarea { clear:left;margin:0 0 5px 255px; }
 .ie7 form.wei li.message input { margin-left:255px; }

/* needed for having message above input w/ small labels */
form.wei ul.smallLabels li.message input,
form.wei ul.smallLabels li.message select,
form.wei ul.smallLabels li.message textarea { clear:left;margin:0 0 5px 130px; }
 .ie7 form.wei li.message input { margin-left:130px; }

/* Errors for nested fieldsets (radios and checkboxes) */
form.wei li.message fieldset.radio { margin:0 0 0 185px; }
form.wei li.message fieldset.checkboxes input { padding-right:5px !important; }
form.wei li.message fieldset input { margin:0 5px 0 0;border:1px solid #333; }
form.wei li.message fieldset label { color:#333;font-weight:normal; }
 .ie7 form.wei li.message fieldset input { margin:0; }
 .ie6 form.wei li.message fieldset.radio { margin:0 0 0 90px; }
 
/* ERROR label and input */
form.wei li.error label { color:#f00;font-weight:bold;}
form.wei li.error.symbol label:after { content:" (!)";color:#f00; }
form.wei li.error input { border:1px solid #f00; }
form.wei li.message.error span strong,
form.wei li.message span.error strong { color:#f00;text-transform:uppercase; }
form.wei li.message.error select { background-color:#f00; }

/* WARNING label and input */
form.wei li.warning label { color:orange;font-weight:bold; }
form.wei li.warning.symbol label:after { content:" (!)";color:orange; }
form.wei li.warning input { border:1px solid orange; }
form.wei li.message.warning span strong,
form.wei li.message span.warning strong { text-transform:uppercase;color:orange; }

/* Label Above */
form.wei fieldset.labelabove li.message input,
form.wei.labelabove li.message input,
form.wei fieldset.labelabove li.message select,
form.wei.labelabove li.message select { margin:0 0 10px 0; }
form.wei fieldset.labelabove li.message label,
form.wei fieldset.labelabove li.message span,
form.wei.labelabove li.message span { clear:both;margin:0;padding-left:0; }
 
/* pager / notification at the top */ 
div#errorExplanation { margin:0 0 10px 0;padding:15px;background:#FFDEE4;border:1px solid #FFAFBD; }
div#errorExplanation h2 {border:none;margin-bottom:0;}
div#errorExplanation p {margin-bottom:.5em;}
div#errorExplanation ul {margin: 0 0 0 1em;}
div#errorExplanation ul li {list-style-type:decimal !important;list-style-position:inside; font-weight:bold;}
/* FORMS / DATE PICKER STYLES
----------------------------*/

/* Labels above */
.labelabove .ui-datepicker-wrap { margin:0 0 10px 0;padding:0 0 0 0;clear:left; }

/* In a table */
td .ui-datepicker-wrap { clear:none;margin:0;padding:0; }

/* Date with a message / directions */
li.message .ui-datepicker-wrap { padding:0 0 0 185px;margin:0 0 5px 0 !important;clear:left; }
.indentLabelWidth li.message .ui-datepicker-wrap { padding:0; }

/* Date field */
input.date.hasDatepicker { margin:0 !important; }

.ie6 .indentLabelWidth li.message .ui-datepicker-wrap { margin-left:0 !important; }
.ie6 li.message .ui-datepicker-wrap { margin-left:61px !important; }

/* FORMS / UTILITIES
----------------------------*/

abbr.req { color:red; }

.indentLabelWidth { padding-left:255px; }
.smallLabels .indentLabelWidth { padding-left: 130px;}
.floatRight{float:right;}
.floatLeft{float:left;}
.floatNone{float:none;}

.clear { clear:both; }
.noclear { clear:none;}
.hide { display:none; }