<%
  project = 'weibaseapp'
  branch = `/usr/local/bin/git branch`.match(/\* (.*)/)[1].split('-')[0]
%>

development:
  adapter: mysql
  database: <%= project %>_<%= branch %>_development
  username: root
  encoding: utf8

test:
  adapter: mysql
  database: <%= project %>_<%= branch %>_test
  username: root
  encoding: utf8

production:
  adapter: mysql
  database: <%= project %>_<%= branch %>_development
  username: root
  encoding: utf8

cucumber:
  adapter: mysql
  database: <%= project %>_<%= branch %>_cucumber
  username: root
  encoding: utf8
