<h1>Editing certification</h1>

<% form_for(@certification) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @certification %> |
<%= link_to 'Back', certifications_path %>