<h1>Listing certifications</h1>

<table>
  <tr>
  </tr>

<% @certifications.each do |certification| %>
  <tr>
    <td><%= link_to 'Show', certification %></td>
    <td><%= link_to 'Edit', edit_certification_path(certification) %></td>
    <td><%= link_to 'Destroy', certification, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New certification', new_certification_path %>