<% title "Editing Teacher #{@teacher.full_name}", :body => true %>

<% semantic_form_for @teacher, :url => provider_teacher_url(current_user.provider, @teacher) do |f| %>
  <%= render 'form', :f => f %>
  <div class="button-col">
    <% f.buttons do %>
     <%= f.commit_button 'Update' %>
     <%= f.cancel_link %>
    <% end %>
  </div>
<% end %>